.container{
	display: flex;
	flex-direction: column;
	top: 0;
	
	margin: 10px;
}
.box{
	padding: 10px;
	margin-bottom: 10px;
}

.label {
	font-size: 1.5rem;
	display: flex;
	height: 2.5rem;
	padding-top: 10px;
	margin-bottom: 10px;
}

.languageInput{
	margin-left: 10px;
	width: 7rem;
}

.button  {
	height: 2rem;
	margin-top: 10px;
	margin-bottom: 10px;

	
}

h1{
	display: flex;
	justify-content: center;
	aligin-items: center;
}

.gridDiv {
	display: grid;
	grid-row: 2;
	grid-column: 2
}
